.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: skyblue;
  text-align: center;
}

span {
  background-color: white;
  padding: 10px;
  font-size: xx-large;
  font-weight: 900;
  border-radius: 5px;
}

button {
  margin: 30px;
  padding: 5px;
  width: 40px;
  font-size: xx-large;
  font-weight: 900;
  background-color: black;
  color: white;
}
